

.overlay {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    width: 150px;
    height: auto;
    border: 1px solid black;
}


#map_varios {
    position: relative;
}

#fullscreen_map_varios {
    position: absolute;
    top: 30px;
    right: 20px;
    background: white;
    padding: 10px;
    font-size: 18px; /* Tamanho da fonte maior */
    width: 30px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    border: 1px solid #ccc; /* Cor da borda mais clara */
    border-radius: 5px; /* Bordas mais arredondadas */
    cursor: pointer;
    z-index: 1000; /* Garante que o botão fique no topo */
    line-height: 5px; /* Adiciona line-height igual à altura do botão */
    text-align: center; /* Centraliza o texto horizontalmente */
}



