

@media (max-width: 1070px) {
    .texto_m {
        font-size: 14px;
    }

}

@media (min-width: 1067px) {
   
    .cols-vert,.mostra-data {
      display: none;
    }

  }

  .data {
      font-size: 12px;
    }

  @media screen and (max-width: 1066.98px) {
               
    .mostra-btn-mapa,.mostra-btn-sugest,.col-data{
      display: none;    
    }

    th.col-quant, th.col-unid , th.col-rede, th.col-status{
      display: none;
    }
    td.col-quant, td.col-unid, td.col-rede ,td.col-status{
      display: none;
    }
    .col-sugest,.col-mapa{
      display: none;
    }

    .cols-vert{
      font-size: 12px;
    }
    
  }
  
  .btn-sug,.btn-mapa-tam {
    height: 30px;
    width: 105px;
    font-size: 11px;
      
  }

  .card-title{
    font-size: 18px;
    color: green;
  }
  .card-text {
    font-size: 13px;
  }

  .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;;
}

.small-margin-bottom {
  margin-bottom: 2px;
}

p {
  margin-bottom: -0px;
}

@media (max-width: 750px) {
  .texto_m {
      font-size: 16px;
  }
  .btn-mapa-tam,.btn-sug{
    font-size: 14px;
    height: 50px;
    width: 105px;
  }

.btn-mapa-geral-tam
{
  font-size: 14px;
  height: 50px;
  width: 115px;
}
  .card-img-top {
    width: 100%;
    height: 200px;
    max-width: 200px;
    object-fit: cover;
  }

  .col-img,.col-descr{
    display: none;
  }

  .center-img {
    display: block;
    margin: 0 auto;
  }

  .texto-oferta {
    font-size: 36px;
  }
  .descr-oferta {
    font-size: 23px;
  }
  .btn-procurar-cel{ 
    height: 50px;
    width: 105px;
    font-size: 14px;
    margin-left: 15px;
    ;
  }
  .btn-procurar{ 
    display: none;
  }
  input[name="consulta_of"],input[name="consulta_redes"] {
    font-size: 12px;
  }
   
}

@media (min-width: 749.9px) {

 .figure-img{
  display: none;
 }

 .btn-procurar-cel{ 
  display: none;
 }
 .btn-procurar{ 
  font-size: 14px;
}

}


